@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --color-evergreen: #283326;
    --color-ivory: #F8EDD2;
    --color-crimson: #8C1C13;
    --font-league-gothic: 'League Gothic', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', 'sans-serif';
    --breakpoint-3xl: 1920px;
}

@layer utilities {
    .font-league-gothic {
        font-family: var(--font-league-gothic);
    }
    .font-inter {
        font-family: var(--font-inter);
    }
    .font-poppins {
        font-family: var(--font-poppins);
    }

    /* Scroll Up */
    @keyframes scrollUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
    }

    @keyframes scrollDown {
    0% { transform: translateY(-50%); }
    100% { transform: translateY(0); }
    }

    .animate-scroll-up {
    animation: scrollUp 20s linear infinite;
    }

    .animate-scroll-down {
    animation: scrollDown 20s linear infinite;
    }

    /* Scroll Left */
    @keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
    }

    .animate-scroll-left {
    animation: scrollLeft 30s linear infinite;
    }
}